body {
  background-color: #d2a177;
  position: relative;
  display: block;
}
/* ---- Computer: May 5, 2018 --- */
#laptop {
  position: relative;
  margin: 0 auto;
  height: 600px;
  width: 450px;
  background-color: #D3D3D3;
}
#screen {
  position: absolute;
  box-sizing: border-box;
  background-color: white;
  border: #2A2A2A solid 20px;
  height: 50%;
  width: 100%;
}
p {
  font-family: 'Patrick Hand SC', cursive;
  text-transform: uppercase;
  font-size: 50px;
  text-align: center;
}
#keyboard {
  position: absolute;
  width: 85%;
  height: 25%;
  bottom: 20%;
  left: 7.5%;
  background-color: #7F7F7F;
}
.keys {
  position: absolute;
  height: 20%;
  width: 10%;
  background-color: #3f3f3f;
}
.top {
  top: 8%;
}
.middle {
  top: 39%;
}
.bottom {
  bottom: 8%;
}
.one {
  left: 3%;
}
.two {
  left: 15%;
}
.three {
  left: 27%
}
.four {
  left: 51%
}
.five {
  right: 51%;
}
.six {
  right: 27%;
}
.seven {
  right: 15%;
}
.eight {
  right: 3%;
}
#spaceKey {
  position: absolute;
  height: 20%;
  width: 46%;
  bottom: 8%;
  left: 27%;
  background-color: #3f3f3f;
}
#touch {
  position: absolute;
  height: 10%;
  width: 35%;
  bottom: 6%;
  left: 32.5%;
  background-color: #7F7F7F;
}
#mouse {
  position: absolute;
  height: 25%;
  width: 10%;
  right: 10%;
  background-color: white;
  border-radius: 20%;
}
#mouseKey {
  position: absolute;
  height: 20%;
  width: 5%;
  left: 47.5%;
  background-color: #3f3f3f;
}
